<div class="mt-4">
    <h3>List My Products</h3>
    <table class="table table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">Create at</th>
    </tr>
  </thead>
  <tbody>

    {{#each products}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.level}}</td>
      <td>{{this.createAt}}</td>
      <td>
        <a href="/products/{{this._id}}/edit" class="btn btn-link">Update</a>
        <a href="" class="btn btn-link">Delete</a>
      </td>
    </tr>

    {{/each}}
   
  </tbody>
</table>
</div>