<form name="container-form" method="POST" class="mt-4" action="/products/handle-form-actions">
    <div>
      <h3>List My Products</h3>
      <a href="/me/trash/products">Go to Trash ({{deletedCount}})</a>
      <a style="margin-left:20px" href="/products/create">Create Product</a>
     
      <div class="mt-4 d-flex align-items-center">
         {{!-- check box --}}
         <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
              <label class="form-check-label"  for="checkbox-all">
                Choose all
              </label>
         </div>
         
       {{!-- select --}}
      
         <select class="form-control form-control-sm checkbox-select-all-options" name="action" required="required">
            <option value="">--  Action  --</option>
            <option value="delete">Delete</option>   
        </select>
     
        <button class="btn btn-primary btn-sm check-all-submit-btn" disabled="disabled">Go</button>
      </div>
    </div>
  <table class="table table mt-4">
     <thead>
    <tr >
      <th></th>
      <th scope="col">#</th>
      <th scope="col" >Name
       {{{sortable 'name' _sort}}}
      </th>
      <th scope="col"  >Level  
      {{{sortable 'level' _sort}}}
      </th>
      <th scope="col"  >Create at  
      {{{sortable 'createAt' _sort}}}
      </th>
      <th></th>
    </tr>
  </thead>
   <tbody>

    {{#each products}}
    <tr>
       <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" name="productIds[]" value="{{this._id}}" >  
         </div>
       </td>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.level}}</td>
      <td>{{this.createAt}}</td>
      <td>
        <a href="/products/{{this._id}}/edit" class="btn btn-link">Update</a>
        <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delele-product-modal">Delete</a>
      </td>
    </tr>
     
     {{else}}
       <tr>
        <td colspan="5" class="text-center">
          No anything Your Products.
          <a href="/products/create">Create Product</a>
        </td>
       </tr>
    {{/each}}
   
   </tbody>
  </table>
</form>

{{!-- Confirm delete Products --}}
<!-- Modal -->
<div class="modal fade" id="delele-product-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete this product?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this product?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="btn-delete-product" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-product-form" method="POST" >

</form>

<script>

  document.addEventListener('DOMContentLoaded', function() {
     var productId;
     //get form to submit data
     var deleteForm = document.forms['delete-product-form'];

     var btnDeleteProduct = document.getElementById('btn-delete-product');

     var checkboxAll = $('#checkbox-all');
     var productItemCheckbox = $('input[name="productIds[]"]');

     var checkAllSubmitBtn = $('.check-all-submit-btn');
     var containerForm = $('form[name="container-form"]');

     
    
    //when dialog confirm clicked
     $('#delele-product-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      productId = button.data('id');
     });

    // when delete product btn cliked
     btnDeleteProduct.onclick = function () {
      deleteForm.action = '/products/' + productId +'?_method=DELETE';
      deleteForm.submit();
     }

     //when checkbox all change
     checkboxAll.change(function () {
       var isCheckedAll = $(this).prop('checked');
       if(isCheckedAll === true){
            productItemCheckbox.prop('checked', true);
       }
       else{
            productItemCheckbox.prop('checked', false);
       }
       renderCheckAllSubmitBtn();
     });

    // Product Item checkbox checked
    productItemCheckbox.change(function() {
      var isCheckItemAll = productItemCheckbox.length === $('input[name="productIds[]"]:checked').length;
      
      if(isCheckItemAll === true){
        checkboxAll.prop('checked', true);
      }
      else{
        checkboxAll.prop('checked', false);
      }
      renderCheckAllSubmitBtn();
    })

  
    // re-Render disable button delete all
    function renderCheckAllSubmitBtn() {
        var checkedCount = $('input[name="productIds[]"]:checked').length;
        if(checkedCount > 0 ) {
           checkAllSubmitBtn.removeAttr('disabled', false)
        }
        else{
          checkAllSubmitBtn.attr('disabled', true);
        }
    }

    
  })
  
</script>