<form class="mt-4" name="container-form" method="post" action="/products/handle-form-actions">
    <div>
     <a href="/me/stored/products">List Products</a>
      <h3>Products Deleted</h3>

      <div class="mt-4 d-flex align-items-center">
         {{!-- check box --}}
         <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
              <label class="form-check-label"  for="checkbox-all">
                Choose all
              </label>
         </div>
         
       {{!-- select --}}
      
         <select class="form-control form-control-sm checkbox-select-all-options" name="action" required="required">
            <option value="">--  Action  --</option>
            <option value="restore">Restore</option>   
            <option value="force-destroy">Delete from Trash</option>   
        </select>
     
        <button class="btn btn-primary btn-sm check-all-submit-btn" disabled="disabled">Go</button>
      </div>

    </div>
    <table class="table table mt-4">
  <thead>
    <tr>
     <th></th>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">Deleted at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    {{#each products}}
    <tr>
      <td>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" name="productIds[]" value="{{this._id}}" >  
         </div>
       </td>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.level}}</td>
      <td>{{this.deletedAt}}</td>
      <td>
        <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}" >To Restore</a>
        <a href="" class="btn btn-link btn-delete" data-toggle="modal" data-id="{{this._id}}" data-target="#delele-product-modal">To Delete</a>
      </td>
    </tr>
     
     {{else}}
       <tr>
        <td colspan="5" class="text-center">
           Your Trash is Empty.
        </td>
       </tr>
    {{/each}}
   
  </tbody>
</table>
</form>

<form name="restore-product-form" method="POST"></form>
<form name="delete-product-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var restoreBtn = $('.btn-restore');
        var restoreForm = document.forms['restore-product-form'];

        var deteleForm = document.forms['delete-product-form'];
        var deleteBtn = $('.btn-delete');

        var checkboxAll = $('#checkbox-all');

        var checkboxProductItem = $('input[name="productIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');
        var formSubmit = $('form[name="container-form"]');
      
        //Restore btn cliked
        restoreBtn.click (function (e) {
            e.preventDefault();
            var productId = $(this).data('id');
            restoreForm.action = '/products/' + productId + '/restore?_method=PATCH'
            restoreForm.submit();
        })

        deleteBtn.click(function (e) {
            e.preventDefault();
            var productId = $(this).data('id');
            console.log(productId);
           deteleForm.action = '/products/' + productId + '/force?_method=DELETE';
           deteleForm.submit();
        })

        //when clicked check box all
       checkboxAll.change(function () {
          var isCheckedAll = $(this).prop('checked');
          if(isCheckedAll === true){
            checkboxProductItem.prop('checked', true);
          }
          else{
            checkboxProductItem.prop('checked', false);
           
          }
          renderCheckAllSubmitBtn();
       })

       //when clicked check bon item product
       checkboxProductItem.change(function (){
       
          var isCheckedAll = checkboxProductItem.length === $('input[name="productIds[]"]:checked').length;
          if( isCheckedAll){
            checkboxAll.prop('checked', true)
          }
          else{
            checkboxAll.prop('checked', false)
          }
          renderCheckAllSubmitBtn();
       })

       //re-render button go
       function renderCheckAllSubmitBtn() {
          var checkCount = $('input[name="productIds[]"]:checked').length;
          console.log(checkCount);
          if(checkCount > 0 ){
              checkAllSubmitBtn.removeAttr('disabled', false)
          }
          else{
            checkAllSubmitBtn.attr('disabled', true)
          }
       }

  

         
    });
   

  

</script>